{% extends "base.html.twig" %}

{% block title 'Hello City !' %}

{% block body %}
	<img src="{{ asset('/images/Berber_flag.png') }}" alt="Berber flag" width="200" height="200">

	<h1>Hello from Kabylia !</h1>
	<p>It's currently
		{{ 'now'|date('h:i A') }}.
	</p>
{% endblock %}
