{% extends "base.html.twig" %}

{% block title 'Hello City !' %}

{% block body %}
	<h1>Hello from Kabylia !</h1>
	<p>It's currently
		{{ 'now'|date('h:i A') }}.
	</p>

	<footer>
		<p>
			&copy; Copyright
			{{ 'now'|date('Y') }}
			&middot;
			<a href="{{ path('app_pages_about') }}">About Us</a>
		</p>

	</footer>
{% endblock %}
