<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}
				Hello City
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
		{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>

	<body>
		<main>
			{% block body %}{% endblock %}
		</main>

		<footer>
			<p>
				&copy; Copyright
				{{ 'now'|date('Y') }}
				&middot;
				<a href="{{ path('app_pages_about') }}">About Us</a>
			</p>
		</footer>

	</body>

</html>
